html, body {
    height: 100%;
    background-color: #555;
    background-image: url(""); 
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;  
}

body {
    font-family: 'Abel', sans-serif;
    text-align: center;
    color: #FAFAFA;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(66,66,66 ,0.5);
    text-shadow: 0px 2px 2px rgba(30, 30, 30, 0.8);
    -webkit-box-shadow: 0 0.05rem 0.2rem 0.2rem rgba(40, 40, 40, 0.5);
    -moz-box-shadow: 0 0.05rem 0.2rem 0.2rem rgba(40, 40, 40, 0.5);
    box-shadow: 0 0.05rem 0.2rem 0.2rem rgba(40, 40, 40, 0.5);
}

h3 {
    margin-top: 3rem;
    text-align: center;
}

#location {
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

#day {
    font-size: 1.5rem;
}

#time {
    font-size: 1.2rem;
}

#icon {
    font-size: 3rem;
    padding-right: 1rem;
}

#temp {
    font-size: 5rem;
}

#weather::first-letter {
    text-transform: capitalize;
}

.btn.btn-light {
    color: rgba(245,245,245 ,1);
    font-size: 1.5rem;
    width: 8rem;
    padding-bottom: 0;
    background-color: rgba(144,202,249 ,0.1);
    border-color: transparent;
    border-radius: 0;
}

#weather,
.otherconditionsOne,
.otherconditionsTwo,
.otherconditionsThree {
    letter-spacing: 0.1rem;
}

#weather,
#humidity,
#windspeed {
    font-size: 1.14rem;
}

.otherconditionsOne {
    padding: 0 0.5rem;
}

.otherconditionsTwo {
    padding: 1.2rem 0.5rem;
}

.otherconditionsThree {
    padding: 2rem 0 2rem;
    margin: 0.24rem 0 1rem;
}

.wi-fahrenheit,
.wi-celsius {
    font-size: 2rem;
}

.active-temp {
    background-color: rgba(38,50,56 ,0.5) !important;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    -moz-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

footer {
    color:rgba(245, 245, 245, 0.5);
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%,-98%);
}

a:link,
a:focus {
    color:rgba(245, 245, 245, 0.5);
}